<article class="blog-card">
  <a href="/blog/{{this.slug}}" class="block overflow-hidden">
    {{#if this.thumbnail}}
    <img src="{{this.thumbnail}}" alt="{{this.title}}" class="blog-card-image" loading="lazy" />
    {{else}}
    <div class="blog-card-image blog-card-image-placeholder">
      <svg class="h-12 w-12 text-white/60" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/></svg>
    </div>
    {{/if}}
  </a>
  <div class="blog-card-body">
    <h2 class="blog-card-title">
      <a href="/blog/{{this.slug}}">{{this.title}}</a>
    </h2>
    {{#if this.dateLabel}}
    <time class="blog-card-date" datetime="{{this.dateLabel}}">{{this.dateLabel}}</time>
    {{/if}}
    <p class="blog-card-excerpt">{{this.excerpt}}</p>
    <a href="/blog/{{this.slug}}" class="blog-card-link">Xem chi tiết →</a>
  </div>
</article>
