<span class="vx-ui-icon{{#if large}} vx-ui-icon--lg{{/if}}{{#if class}} {{class}}{{/if}}" aria-hidden="true">
  <img src="/images/Demo/DienTu/icons/icon-{{name}}.svg" alt="" width="{{#if size}}{{size}}{{else}}20{{/if}}" height="{{#if size}}{{size}}{{else}}20{{/if}}" loading="lazy" />
</span>
